.idea

*.pyc
__pycache__

AStarNN_py/*.dll
AStarNN_py/*.so

lib_source/x64
lib_source/Debug
lib_source/Release
lib_source/Debug32
lib_source/Release32
lib_source/Debug64
lib_source/Release64

lib_source/.vs

# Ignore C/C++ and Visual Studio build artefacts 
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.dll
*.sbr
*.sdf
*.opensdf
*.ipch
*.exp
*.VC.db
*.opendb
*.tlog
*.idb
*.lastbuildstate
*.iobj
*.ipdb

*.vssettings
